/* question */
.question {
  display: flex;
}

.question-container {
  padding: 24px;
}

.ant-table-row {
  background-color: #f6f8f9;
  cursor: pointer;
}

.question-info {
  width: 180px;
  height: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.question-info-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-info img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 8px;
}

.question-info h5 {
  margin-right: 24px;
}

.question-content {
  padding-left: 24px;
  width: 70%;
}

.question-content-title h2 {
  color: rgb(62, 178, 221);
}

.question-content-content span {
  font-size: 16px;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-tag {
  display: flex;
}

.question-tag-item {
  margin: 6px;
  padding: 6px;
  background-color: hsl(213, 62%, 83%);
  border-radius: 4px;
}

.question-time {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* question filter */
.question-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.question-filter-popular {
  background-color: hsl(213, 60%, 83%);
  width: 120px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.question-filter-popular:hover {
  background-color: #ffc266;
  cursor: pointer;
}

.question-filter-hotnew {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.question-filter-hotnew:hover {
  cursor: pointer;
}

.question-detail {
  display: flex;
  padding: 24px;
}

.detail-ques {
  width: 100%;
}

.detail-content {
  width: calc(100% - 48px);
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.detail-user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.detail-user {
  display: flex;
  align-items: center;
}

.detail-title {
  padding: 24px;
}

.detail-conten {
  padding: 24px;
}

.detail-spam {
  width: 264px;
  display: flex;
  justify-content: space-between;
}

.detail-actions {
  display: flex;
  justify-content: space-between;
}

.detail-answer {
  width: 100%;
}

.answer {
  width: calc(100% - 88px);
  padding: 24px;
  margin-left: 40px;
  border-radius: 8px;
}

.btn-spam {
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}

.btn-spamspam {
  height: 40px;
  background-color: red;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}

.btn-spamnotspam {
  height: 40px;
  background-color: aquamarine;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}

.comment {
  width: calc(100% - 64px);
  background-color: #ffffff;
  padding: 0 0 0 24px;
  margin-top: 12px;
  margin-left: 40px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.comment span {
  display: inline-flex;
  width: calc(100% - 64px);
}

.answer-input {
  margin-top: 24px;
  display: flex;
  width: calc(100% - 24px);
}

.comment-input {
  display: flex;
  margin: 24px 0 0 40px;
}

.answer-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 24px 0 0 24px;
}

.btn-type1 {
  width: 150px;
  margin-left: 24px;
  background-color: rgb(173, 162, 162);
}

.detail-trend {
  padding: 24px;
  width: calc(35% - 24px);
  height: 400px;
  margin-left: 24px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.trend-title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trend-item {
  width: 100%;
  height: 50px;
  color: #316cc8;
  font-size: 16px;
  border-bottom: 1px solid rgb(206, 200, 200);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trend-item:hover {
  color: blue;
}
