/* question */
.question {
  display: flex;
}

.question-container {
  padding: 24px;
}

.ant-table-row {
  background-color: #f6f8f9;
  cursor: pointer;
}

.question-info {
  width: 180px;
  height: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.question-info-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-info img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 8px;
}

.question-info h5 {
  margin-right: 24px;
}

.question-content {
  padding-left: 24px;
  width: 70%;
}

.question-content-title h2 {
  color: rgb(62, 178, 221);
}

.question-content-content span {
  font-size: 16px;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-tag {
  display: flex;
}

.question-tag-item {
  margin: 6px;
  padding: 6px;
  background-color: hsl(213, 62%, 83%);
  border-radius: 4px;
}

.question-time {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* question filter */
.question-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.question-filter-popular {
  background-color: hsl(213, 60%, 83%);
  width: 120px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.question-filter-popular:hover {
  background-color: #ffc266;
  cursor: pointer;
}

.question-filter-hotnew {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.question-filter-hotnew:hover {
  cursor: pointer;
}

.question-detail {
  display: flex;
  padding: 24px;
}

.detail-ques {
  width: 100%;
}

.detail-content {
  width: calc(100% - 48px);
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.detail-content b {
  /* background-color: hsl(213, 60%, 83%); */
  padding: 6px;
  border-radius: 10px;
}

.detail-content-content {
  margin-top: 20px;
  padding: 10px;
  background: rgba(236,233,230,1);
  border-radius: 10px;
}

.detail-user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.detail-user {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.detail-title {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(62, 178, 221);
  padding: 0px 24px 10px 24px;
}

.detail-conten {
  padding: 5px 24px 24px 24px;
}

.detail-spam {
  width: 264px;
  display: flex;
  justify-content: space-between;
}

.detail-actions {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.detail-actions .RateStar{
  height: 30px;
  background-color: #ffffff;
  margin-top: 5px;
  padding: 0px 5px 0px 5px;
  border-color: #d9d9d9;
  border-radius: 6px;
  
}

.detail-answer {
  width: 100%;
}

.answer {
  width: calc(100% - 88px);
  padding: 24px;
  margin-left: 40px;
  border-radius: 8px;
}

.btn-spam {
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}

.btn-spamspam {
  height: 40px;
  background-color: red;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}

.btn-spamnotspam {
  height: 40px;
  background-color: aquamarine;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}

.comment {
  width: calc(100% - 64px);
  background-color: #ffffff;
  /* padding: 0 0 0 24px; */
  margin-top: 12px;
  margin-left: 64px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.comment div {
  margin: 0px 10px 0 10px;
}

.comment span {
  display: inline-flex;
  width: calc(100% - 64px);
  margin-top: 5%;
  padding: 3px;
}

.answer-input {
  width: calc(100% - 48px);
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  
}

.comment-input {
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  display: flex;
  margin: 24px 0 0 64px;
}

.answer-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* padding: 24px 0 0 24px; */
}

.answer-container .detail-title {
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.btn-type1 {
  width: 150px;
  margin-left: 24px;
  background-color: #ffffff;
  font-weight: 700;
}

.detail-trend {
  padding: 24px;
  width: calc(35% - 24px);
  height: 400px;
  margin-left: 24px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.trend-title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trend-item {
  width: 100%;
  height: 50px;
  color: #316cc8;
  font-size: 16px;
  border-bottom: 1px solid rgb(206, 200, 200);
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.trend-item:hover {
  color: #f12711;
}
