.profilee {
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  padding: 24px;
}

.profile-container {
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.wall-paper {
  width: 100%;
  height: 30vh;
  background-color: rgb(173, 217, 217);
  border-radius: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.wall-paper img {
  border-radius: 8px;
}

.resized-image {
  width: 100%;
  height: calc(100% + 12px);
  object-fit: cover;
  cursor: pointer;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: blueviolet;
  margin-top: -100px;
  margin-left: -150%;
  border: 10px solid white;
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
}

.edit-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -60vw;
  width: 150px;
  height: 50px;
  border: 3px solid black;
  border-radius: 5px;
}

.profile-content {
  margin-top: 50px;
}

.profile-question {
  height: 500px;
  width: 70vw;
  background-color: rgb(245, 240, 235);
}

.basic-info {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.basic-info span {
  font-size: 24px;
  font-weight: 500;
}

.change-ava {
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  margin-top: -120px;
  margin-left: 130px;
  border-radius: 8px;
  cursor: pointer;
}

.change-wall {
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  margin-top: -62px;
  margin-right: 12px;
  border-radius: 8px;
  cursor: pointer;
}
