.user-rank {
  width: 400px;
  height: 100px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.user-rank h2 {
  margin-top: 35px;
  margin-left: 12px;
  width: 35px;
}

.user-rank-info {
  display: flex;
}

.qna-info {
  width: 180px;
}

.qna-info h3 {
  margin-top: 20px;
  color: #f37335;
}

.user-rank img {
  width: 80px;
  height: 80px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
}

.level {
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
