.item__sidebar__menu {
  display: flex;
  align-items: center;
  margin: 0 16px 0 0;
  padding: 0 0 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.item__sidebar__menu img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.item__sidebar__menu-active {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(245, 175, 25, 0.8));
  font-weight: 700;
}

.item__sidebar__menu:hover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(245, 175, 25, 0.8));
  cursor: pointer;
}
