.question-manage-options {
  width: 70%;
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
}

.question-manage-options span {
  font-weight: 700;
  font-size: 16px;
}

.question-manage-options .btn-subscribe {
  background-color: #f0eff0;
  background-image: linear-gradient(#f0eff0, #faf8f9);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.question-manage-options .btn-subscribe-true {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.question-manage-options .btn-unsubscribe {
  background-color: rgb(75, 121, 161);
  background-image: linear-gradient(#f0eff0, #faf8f9);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.question-manage-options .btn-unsubscribe-true {
  background-color: #ffe53b;
  background-image: linear-gradient(0deg, #ffe53b 0%, #ff2525 74%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.question-manage-options .auto-approve {
  background-color: #f0eff0;
  background-image: linear-gradient(#f0eff0, #faf8f9);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.manage-q-action {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reload {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
